*{
    margin:0px;
    padding:0px;
}
.start{
    display: flex;
    justify-content: center;
   
}
.bg-container{
    background-image: url("/codeimages.jpg");
    background-size: cover;
    height:80vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 230px;
    width: 230px;
    border: 7px solid rgb(67, 217, 67);
    color:rgb(20, 171, 231);
    font-size: 40px;
    padding: 10%;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.644);
}